.project {
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    & .dotted{
        border-right: 2px dashed $text-color;
        min-height: 40px;
        margin-left: 97px;
        &:first-of-type::after{
            content: none;
            }
    }
}

.txt {
    padding-left:20px;
    & p {
        color:#707070;
        font-size: 20px;
    }
}
.yp {
    display: flex;
    & .project .year{
        border-right: 2px solid #43687C;
        padding: 7px 20px 0 10px;
        position:relative;
        width: 0;
        &::after{
            content:'';
            position:absolute;
            width:20px;
            height:20px;
            right:-11px;
            top:12px;
            border-radius:50%;
            background-color:#43687C;
        }
    }
    & .year p{
        color:$text-color;
        font-weight: bold;
        margin:0;
        margin-top: 5px;
        font-size: 30px;
        position: sticky;
        top: 20px;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .yp{
        & .project .year{
            min-width: 35px;
            padding: 12px 0px 0 0;
        }
        & .year p{
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 20px;
            top: 100px;
            margin-top: -15px;
        }
    }
    .project {
        & .dotted{
            margin-left: 56px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}