.technos{
    margin-top: 5px;
    & p{
        display: inline;
        font-size: 16px;
        color: #4F6875;
        & span {
            color: white;
            padding-right: 5px;
        }
    }
}
span#tw {
    display: none;
}
.container img{
    height: auto;
}